In [1]:
## Load data from a csv file, pre-process the content of it and then generate the training and test dataset
## Cargar datos desde un fichero csv, preprocesar sus contenidos y generar el dataset de entreno y testing
import pandas as pd
from pandas import DataFrame

df = pd.read_csv('/home/zan/Downloads/deceptive-opinion.csv')

print(df)

      deceptive             hotel  polarity       source  \
0      truthful            conrad  positive  TripAdvisor
1      truthful             hyatt  positive  TripAdvisor
2      truthful             hyatt  positive  TripAdvisor
3      truthful              omni  positive  TripAdvisor
4      truthful             hyatt  positive  TripAdvisor
...         ...               ...       ...          ...
1595  deceptive  intercontinental  negative        MTurk
1596  deceptive            amalfi  negative        MTurk
1597  deceptive  intercontinental  negative        MTurk
1598  deceptive            palmer  negative        MTurk
1599  deceptive            amalfi  negative        MTurk

                                                   text
0     We stayed for a one night getaway with family ...
1     Triple A rate with upgrade to view room was le...
2     This comes a little late as I'm finally catchi...
3     The Omni Chicago really delivers on all fronts...
4     I asked for a high floor away from the elevato...
...                                                 ...
1595  Problems started when I booked the InterContin...
1596  The Amalfi Hotel has a beautiful website and i...
1597  The Intercontinental Chicago Magnificent Mile ...
1598  The Palmer House Hilton, while it looks good i...
1599  As a former Chicagoan, I'm appalled at the Ama...

[1600 rows x 5 columns]

In [2]:
df.head(5)

,deceptive,hotel,polarity,source,text
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...

In [3]:
## Replace missing values & eliminate duplicated values/etc.
## Sustituir valores nulos/missing y eliminar valores duplicados 
missing_values = ["n/a", "na", "--"]
df.isnull().sum() ## No hay valores de tipo missing
df[df.duplicated(keep=False)] ## 803-853, 847-862,  995-1014, 1085-1109
df = df.drop_duplicates() ## Hay cuatro duplicados en el dataset
df


#df.iloc[803] == df.iloc[853]
#df.iloc[803].equals(df.iloc[853])

,deceptive,hotel,polarity,source,text
0,truthful,conrad,positive,TripAdvisor,We stayed for a one night getaway with family ...
1,truthful,hyatt,positive,TripAdvisor,Triple A rate with upgrade to view room was le...
2,truthful,hyatt,positive,TripAdvisor,This comes a little late as I'm finally catchi...
3,truthful,omni,positive,TripAdvisor,The Omni Chicago really delivers on all fronts...
4,truthful,hyatt,positive,TripAdvisor,I asked for a high floor away from the elevato...
...,...,...,...,...,...
1595,deceptive,intercontinental,negative,MTurk,Problems started when I booked the InterContin...
1596,deceptive,amalfi,negative,MTurk,The Amalfi Hotel has a beautiful website and i...
1597,deceptive,intercontinental,negative,MTurk,The Intercontinental Chicago Magnificent Mile ...
1598,deceptive,palmer,negative,MTurk,"The Palmer House Hilton, while it looks good i..."
1599,deceptive,amalfi,negative,MTurk,"As a former Chicagoan, I'm appalled at the Ama..."

In [4]:
## Eliminate columns -- 1-3 as they won't contribute to the model
## Eliminar columnas del 1 al 3 ya que no aportan informacion adiccional al modelo

df = df.drop(df.columns[[1, 2, 3]], axis = 1)
df.head(5)

  deceptive                                               text
0  truthful  We stayed for a one night getaway with family ...
1  truthful  Triple A rate with upgrade to view room was le...
2  truthful  This comes a little late as I'm finally catchi...
3  truthful  The Omni Chicago really delivers on all fronts...
4  truthful  I asked for a high floor away from the elevato...

In [5]:
## The deceptive and truthful registers are balanced: 800 - 800
## La clase deceptive esta balaneceada, tiene 800 registros deceptive y 800 registros truthful
print(len(df[df['deceptive'] == 'truthful']))
print(len(df[df['deceptive'] == 'deceptive']))

796
800

In [6]:
## Limpiar texto, opinion del usuario para luego poder convertir la secuencia a vector

from gensim import utils
import gensim.parsing.preprocessing as gsp

filters = [
           gsp.strip_tags, 
           gsp.strip_punctuation,
           gsp.strip_multiple_whitespaces,
           gsp.strip_numeric,
           gsp.remove_stopwords, 
           gsp.strip_short, 
           gsp.stem_text
          ]

def clean_text(s):
    s = s.lower()
    s = utils.to_unicode(s)
    for f in filters:
        s = f(s)
    return s

df['text'] = df['text'].apply(clean_text)

In [12]:
## Generate training and testing dataset
training_split = 0.75
testing_split = 0.25
pos_testing_split = 0.9 ## truthful + deceptive, los deceptive entre 5-10% de esta suma.
neg_deceptive_split = 0.1

deceptive_training = df[df.deceptive == 'truthful'].sample(frac = training_split)
newdf = df.drop(deceptive_training.index.values)
pos_deceptive_testing = newdf[newdf.deceptive == 'truthful'].sample(frac = pos_testing_split)
neg_deceptive_testing = newdf[newdf.deceptive == 'deceptive'].sample(int(neg_deceptive_split * (testing_split * len(df[df.deceptive == 'truthful']))))

frames = [pos_deceptive_testing, neg_deceptive_testing]
deceptive_testing = pd.concat(frames)
deceptive_testing = deceptive_testing.sample(frac = 1)

In [13]:
## NLTK tokenizer

import nltk
import gensim
from nltk.corpus import stopwords
from gensim.models import Doc2Vec
from gensim.models.doc2vec import TaggedDocument
def tokenize_text(text):
    tokens = []
    for sent in nltk.sent_tokenize(text):
        for word in nltk.word_tokenize(sent):
            if len(word) < 2: ## solo las palabras con longitud > 2
                continue
            tokens.append(word.lower())
    return tokens
train_dec = deceptive_training.apply(
    lambda x: TaggedDocument(words=tokenize_text(x['text']), tags=[x.deceptive]), axis=1)
test_dec = deceptive_testing.apply(
    lambda x: TaggedDocument(words=tokenize_text(x['text']), tags=[x.deceptive]), axis=1)

In [15]:
## Build vocabulary using distributed bag of words
from tqdm import tqdm
import multiprocessing
cores = multiprocessing.cpu_count()
dbow = Doc2Vec(dm=0, vector_size = 300, negative=5, hs=0, min_count = 2, sample = 0, workers = cores)
dbow.build_vocab([x for x in tqdm(train_dec.values)])

100%|██████████| 597/597 [00:00<00:00, 1290056.41it/s]

In [16]:
%%time
from sklearn import utils
for epoch in range(30):
    dbow.train(utils.shuffle([x for x in tqdm(train_dec.values)]), total_examples=len(train_dec.values), epochs=1)
    dbow.alpha -= 0.002
    dbow.min_alpha = dbow.alpha

100%|██████████| 597/597 [00:00<00:00, 1453278.87it/s]
100%|██████████| 597/597 [00:00<00:00, 2377967.23it/s]
100%|██████████| 597/597 [00:00<00:00, 2371211.64it/s]
100%|██████████| 597/597 [00:00<00:00, 2143835.18it/s]
100%|██████████| 597/597 [00:00<00:00, 2576131.16it/s]
100%|██████████| 597/597 [00:00<00:00, 1532435.43it/s]
100%|██████████| 597/597 [00:00<00:00, 2009630.41it/s]
100%|██████████| 597/597 [00:00<00:00, 1257659.21it/s]
100%|██████████| 597/597 [00:00<00:00, 1315816.86it/s]
100%|██████████| 597/597 [00:00<00:00, 910876.50it/s]
100%|██████████| 597/597 [00:00<00:00, 2239713.32it/s]
100%|██████████| 597/597 [00:00<00:00, 908562.95it/s]
100%|██████████| 597/597 [00:00<00:00, 940999.43it/s]
100%|██████████| 597/597 [00:00<00:00, 2225777.32it/s]
100%|██████████| 597/597 [00:00<00:00, 1557213.61it/s]
100%|██████████| 597/597 [00:00<00:00, 1902735.17it/s]
100%|██████████| 597/597 [00:00<00:00, 1304846.01it/s]
100%|██████████| 597/597 [00:00<00:00, 1199233.47it/s]
100%|██████████| 597/597 [00:00<00:00, 2227757.55it/s]
100%|██████████| 597/597 [00:00<00:00, 1480780.30it/s]
100%|██████████| 597/597 [00:00<00:00, 1231071.53it/s]
100%|██████████| 597/597 [00:00<00:00, 1751048.59it/s]
100%|██████████| 597/597 [00:00<00:00, 1729281.41it/s]
100%|██████████| 597/597 [00:00<00:00, 1460909.85it/s]
100%|██████████| 597/597 [00:00<00:00, 2011244.57it/s]
100%|██████████| 597/597 [00:00<00:00, 1421112.08it/s]
100%|██████████| 597/597 [00:00<00:00, 2134696.92it/s]
100%|██████████| 597/597 [00:00<00:00, 2025889.55it/s]
100%|██████████| 597/597 [00:00<00:00, 1116859.72it/s]
100%|██████████| 597/597 [00:00<00:00, 1150206.47it/s]
CPU times: user 3.62 s, sys: 283 ms, total: 3.9 s
Wall time: 1.85 s

In [17]:
def vec_for_learning(model, tagged_docs):
    sents = tagged_docs.values
    targets, regressors = zip(*[(doc.tags[0], model.infer_vector(doc.words, steps=20)) for doc in sents])
    return targets, regressors

In [18]:
y_train, x_train = vec_for_learning(dbow, train_dec)
y_test, x_test = vec_for_learning(dbow, test_dec)

In [29]:
import numpy as np

training_list = []
for tag, text_val in zip(y_train, x_train):
    training_list.append([tag,text_val])

testing_list = []
for tag, text_val in zip(y_test, x_test):
    testing_list.append([tag,text_val])

deceptive_training = pd.DataFrame(data=training_list, columns=["deceptive","text"])
deceptive_testing = pd.DataFrame(data=testing_list, columns=["deceptive","text"])

     deceptive                                               text
7    deceptive  [-0.7016574, -0.94312495, -0.8534526, -0.51577...
34   deceptive  [-0.7011773, -0.9411192, -0.8525701, -0.515268...
46   deceptive  [-0.7012025, -0.9420752, -0.85128146, -0.51399...
63   deceptive  [-0.69915825, -0.9389035, -0.8508887, -0.51393...
78   deceptive  [-0.700142, -0.94085497, -0.8530075, -0.516346...
85   deceptive  [-0.70387024, -0.9441721, -0.85560876, -0.5174...
87   deceptive  [-0.7010671, -0.9403878, -0.8513633, -0.514217...
92   deceptive  [-0.6995749, -0.9368511, -0.8495235, -0.514266...
99   deceptive  [-0.6999097, -0.9438077, -0.8538104, -0.515506...
106  deceptive  [-0.69828856, -0.939626, -0.85000527, -0.51486...
112  deceptive  [-0.7002405, -0.9411909, -0.8520088, -0.514117...
126  deceptive  [-0.69852924, -0.9392565, -0.85053504, -0.5135...
127  deceptive  [-0.6964617, -0.9370468, -0.84900934, -0.51227...
131  deceptive  [-0.7013647, -0.94251496, -0.8525952, -0.51439...
133  deceptive  [-0.69880646, -0.93924475, -0.85143155, -0.515...
154  deceptive  [-0.70046836, -0.9390002, -0.85057634, -0.5143...
185  deceptive  [-0.699748, -0.94044226, -0.8537449, -0.516051...
187  deceptive  [-0.69991225, -0.9418817, -0.85308903, -0.5157...
192  deceptive  [-0.70231974, -0.9411, -0.85265553, -0.514851,...

In [30]:
deceptive_training.to_csv(r'/home/zan/Desktop/dl_autoencoder/docs/autoencoder/deceptive_opinion_autoencoder/deceptive_training.csv', index=False)
deceptive_testing.to_csv(r'/home/zan/Desktop/dl_autoencoder/docs/autoencoder/deceptive_opinion_autoencoder/deceptive_testing.csv', index=False)